/build
/client
config.yml
users.yml
server-database
server-database-shm
server-database-wal
server-database-key
server-database-pep
database-backups
server.key
$mod.ts

/icon.png
/background.png
chrome