<!doctype html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
  <head>
    <style>
      body {
        background-color: #030303;
        margin: 0;
        overflow: hidden;
        user-select: none;
      }
    </style>
    <title>Open Hotel</title>
    <link rel="shortcut icon" type="image/jpg" href="favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <script type="module" crossorigin src="./index61894.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
