name: Validate Code for Merging
on:
  pull_request:
    paths:
      - .github/**
      - app/server/**
      - app/client/**

jobs:
  check-do-not-merge:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Check for DO NOT MERGE comments
        run: |
          if git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} | grep -E '\.(js|ts|jsx|tsx)$' | xargs grep -H '//[[:space:]]*DO[[:space:]]*NOT[[:space:]]*MERGE'; then
            echo "::error::Found // DO NOT MERGE in the code. Please remove it before merging."
            exit 1
          else
            echo "No // DO NOT MERGE found."
          fi
