name: Publish
on:
  push:
    tags:
      - '*'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  client-build:
    name: 'Build Client'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: 'app/client'
          sparse-checkout-cone-mode: false

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 20.x

      - name: Set Versions
        uses: actions/github-script@v4
        id: set_version
        with:
          script: |
            const tag = context.ref.substring(10).replace('v', '')
            core.setOutput('tag', tag)
            core.setOutput('version', tag.split("-")[0])

      - name: Add version to package.json
        uses: jaywcjlove/github-action-package@main
        with:
          path: './app/client/package.json'
          data: |
            {
              "version": "${{ steps.set_version.outputs.tag }}"
            }

      - name: Install dependencies
        working-directory: ./app/client
        run: yarn install --frozen-lockfile

      - name: Build
        working-directory: ./app/client
        run: yarn run build

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: client-build
          path: './app/client/build'

      - name: 'Zip build'
        run: zip -r client.zip ./app/client/build

      - name: 'Upload zip to release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: client.zip
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

  server-build:
    name: 'Build Server'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: 'app/server'
          sparse-checkout-cone-mode: false

      - uses: denoland/setup-deno@v1
        with:
          deno-version: vx.x.x

      - name: Set Versions
        uses: actions/github-script@v4
        id: set_version
        with:
          script: |
            const tag = context.ref.substring(10).replace('v', '')
            core.setOutput('tag', tag)
            core.setOutput('version', tag.split("-")[0])

      - name: Replace config.ts version
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'config.ts'
          search-text: '__VERSION__'
          replacement-text: ${{ steps.set_version.outputs.tag }}

      - name: Build
        working-directory: ./app/server
        run: deno task build

      - name: 'Upload linux to release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./app/server/server_linux
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

      - name: 'Upload darwin to release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./app/server/server_darwin
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

      - name: 'Upload windows to release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./app/server/server_windows.exe
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true